* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    margin-bottom: 20px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1;
    backdrop-filter: blur(10px);
}

.loogo img {
    border-radius: 16px;
    cursor: pointer;
}

.nav {
    display: flex;
}

.nav-link {
    font-size: 25px;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin:1px 20px;
    color: rgb(0, 0, 0);
    font-variant: small-caps;
    transition: all 0.2s ease-in-out;
}

.nav-link:hover {
    color: rgb(86, 86, 86);
}

.cart-link {
    margin: 0px 20px;
    position: relative;
    background-color: #FFD700;
    padding: 1rem 0.5rem;
    border-radius: 50%;
}

.cart-link i {
    text-decoration: none;
    color: red;
    font-size: 30px;
}

.cart-link i:hover{
    color: rgb(255, 86, 86);
}

.cart-btn span {
    position: absolute;
    top: -4px;
    right: 22px;
    text-decoration: none;
    font-size: 12px;
    font-family: monospace;
}


.late {
    padding-top: 5rem;
    padding-left: 6rem;
    font-size: 50px;
    font-weight: bolder;
    color: rgb(110, 110, 110);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.select-product-cart {
    display: grid;
    grid-template-columns:auto auto auto auto auto auto auto auto auto auto;
    gap: 1.5rem;
    overflow: scroll;
    padding: 4rem 6rem;
    height: max-content;
}

.select-pro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10rem 1rem;
    height: 32rem;
    width: 25rem;
    border-radius: 24px;
    border: 1px solid rgb(61, 61, 61);
    transition: all 0.3s ease-in-out;
}

.select-pro img {
    padding-top: 30px;
    height: 22rem;
    width: 20rem;
}

.product-name {
    text-align: center;
    font-family: cursive;
    font-weight: bolder;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.select-details {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.select-pro button {
    border: none;
}

.select-pro i {
    padding: 10px 10px;
    font-size: 20px;
    color: black;
    border: none;
    border-radius: 4px;
    background-color: #FFD700;
    transition: all 0.2s ease-in-out;
}

.select-pro i:hover {
    background-color: rgb(57, 57, 57);
    color: #FFD700;
}

.select-pro i:active {
    background-color: black;
    color: whitesmoke;
}


.select-pro:hover {
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    cursor: pointer;
    box-shadow: 1px 1px 6px rgb(125, 125, 125);

}

.scroll-left {
    color: black;
    font-size: 20px;
    font-weight: bolder;
    padding: 14px 18px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.752);
    position: relative;
    top: -20rem;
    z-index: 5;
    margin-left: 25px;
    cursor: pointer;
}

.scroll-right {
    color: black;
    font-size: 20px;
    font-weight: bolder;
    padding: 14px 18px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.745);
    position: relative;
    top: -20rem;
    float: right;
    z-index: 5;
    cursor: pointer;
}





.mobile-footer {
    display: none;
}



.web-footer {
    padding: 5rem 0rem;
    padding-left: 5rem;
    padding-right: 10rem;
    background-color: #d0d0d0;
}

.web-footer button {
    padding: 10px 20px;
    border-radius: 24px;
    margin: 8px 2px;
    border: 1px solid rgb(169, 169, 169);
    cursor: pointer;
}

.web-footer li {
    color: rgb(92, 92, 92);
    margin-top: 2rem;
    margin-left: 5rem;
    font-size: 14px;
    text-align: justify;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.copy {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    flex-wrap: wrap;
    height: 5rem;
    align-items: center;
}

.copy ul {
    display: flex;
    list-style: none;
}

li a {
    text-decoration: none;
}


@media  screen and (max-width : 620px) {

    header {
        padding: 15px 0;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .loogo img {
        padding: 0;
        margin-left: 5px;
        height: 30px;
        width: 40px;
    }

    .nav {
        display: none;
    }

    .cart-btn {
        width: 50px;
        padding: 8px 0px;
        border-radius: 100px;
        text-align: center;
    }

    .cart-link i {
        font-size: 24px;
    }



    .late{
        text-align: center;
        padding: 0;
        font-size: 30px;
        padding: 3rem 0 2rem 0 ;
    }
    
    .scroll-left, .scroll-right {
        display: none;
    }

    .select-product-cart {
        padding: 0.5rem 1rem;
    }

    .select-pro {
        height: 25rem;
        width: 20rem;
    }

    .select-pro img {
        height: 17rem;
        width: 17rem;
    }

    .select-pro p {
        font-family: cursive;
        font-weight: bolder;
        font-size: 21px;
        margin: 10px 0px;
    }

    .pricing {
        margin-bottom: 15px;
    }

    .pricing p {
        font-family: sans-serif;
        font-size: 14px;
    }

    .select-pro i {
        font-size: 15px;
        margin: 0px 10px 10px 30%;
    }





    
    .mobile-footer {
        position: fixed;
        width: 100%;
        bottom: 0;
        display: flex;
        justify-content: space-evenly;
        background-color: white;
        padding: 10px 0px;
    }
    
    .mobile-footer a {
        text-decoration: none;
        color: rgb(255, 0, 0);
        font-size: 25px;
    }

    .bottom p{
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }

    .js-bag {
        position: absolute;
        top: 2px;
        font-size: 15px;
        color: black;
        background-color: #FFD700;
        padding: 1px 5px;
        z-index: 2;
        border-radius: 15px;
    }

    .web-footer {
        margin-top: 3rem;
        padding: 15px;
        padding-bottom: 3rem;
    }

    .footer {
        padding-top: 3rem;
    }

    .web-footer button {
        padding: 8px 16px;
        margin: 0;
    }

    .web-footer li {
        margin-left: 10px ;
    }
    
    .copy ul {
        display: none;
    }
}

@media  screen and (max-width : 950px) and (min-width : 620px) {
    header {
        position: relative;
    }

    .search-input {
        display: none;
    }

    .welcome {
        width: 80%;
    }
}