* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: sticky;
    top: 0px;
    z-index: 1;
    backdrop-filter: blur(20px);
}

.loogo img {
    border-radius: 16px;
    cursor: pointer;
}

.nav-link {
    font-size: 20px;
    text-decoration: none;
    margin-right: 15px;
    color: rgb(161, 161, 161);
    padding: 5px;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 4px;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav {
    cursor: pointer;
}

.search-input {
    padding: 10px 20px;
    border-radius: 24px;
    border: 0.5px rgb(146, 146, 146) solid;
    outline: none;
    font-size: 18px;
    background-color: whitesmoke;
    color: rgb(85, 85, 85);
}

.cart-link:active {
    color: black;
}

.cart-link i {
    color: rgb(255, 65, 65);
    font-size: 35px;
    margin-left: 25px;
}

.cart-link i:hover{
    color: red;
}

.cart-btn span {
    font-size: 14px;
    font-family: monospace;
}

.dark-mode-button{
    color: white;
    outline: none;
    border: 0.5px solid white;
    padding: 0.5rem 1rem;
    background-color: rgb(0, 0, 0);
    border-radius: 24px;
    cursor: pointer;
}

@media  screen and (max-width : 620px) {

    header {
        top: 0;
        padding: 15px 0;
        position: relative;
        position: sticky;
    }
    .loogo img {
        padding: 0;
        margin-left: 5px;
        height: 30px;
        width: 40px;
    }
    .nav-link{
        font-size: 14px;
        margin-right: 0px;
    }

    .fa-solid {
        color: white;
        padding: 5px;
    }

    .cart-btn {
        width: 50px;
        padding: 8px 0px;
        border-radius: 100px;
        text-align: center;
    }

    .cart-link i {
        font-size: 24px;
    }

    .search-input {
        display: none;
    }
}

@media  screen and (max-width : 950px) and (min-width : 620px) {
    header {
        position: relative;
    }

    .search-input {
        display: none;
    }

    .welcome {
        width: 80%;
    }
}