main {
    margin: 0% 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-name {
    font-family: monospace;
    text-align: center;
    font-size: 40px;
    color: wheat;
    position: sticky;
    top: 0;
    text-transform: uppercase;
    background-color: rgb(141, 141, 141);
    padding: 1rem;
    z-index: 5;
}

.section-bar button {
    padding: 10px 20px;
    margin-top: 50px;
    background-color: white;
    border: 3px solid rgb(179, 179, 179);
    border-radius: 24px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.section-bar button:hover {
    background-color: black;
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.product-container {
    width: 330px;
    height: 420px;
    margin: 10px 20px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: px;
    border: 0.1px dotted rgb(125, 125, 125);
}

.img-container {
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    padding: 20px;
    border-radius: 6% 6% 0px 0px;
}

.img-container img {
    height: 230px;
    width: 200px;
    transition: all 0.3s ease-in-out;
}

.product-detail {
    margin: 0px 15px;
    display: flex;
    justify-content: space-evenly;
}

.product-name {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.product-detail span {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.product-detail i {
    float: right;
    padding: 7px 7px;
    font-size: 20px;
    color: black;
    border-radius: 4px;
    background-color: #FFD700;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

}

.product-detail i:hover {
    background-color: rgb(57, 57, 57);
    color: #FFD700;
}

.product-detail i:active {
    background-color: black;
    color: whitesmoke;
}


.img-container img:hover {
    -webkit-transform: scale(1.07);
    transform: scale(1.07);
    cursor: pointer;
}

@media (max-width:400px) {

   .section-bar button {
    font-size: 10px;
   }
}
@media (max-width:800px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        justify-content: center;
    }

    .product-container {
        width: 300px;
    }

    .fa-store {
        color: rgb(255, 0, 238);

    }
}